.about-us {
    h2 {
        margin-block: 1rem;
    }

    .branch-btns {
        display: flex;
        margin-block: 1rem;

        button {
            @include btn;
            margin-inline-start: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            background-color: #9cc0f9;
            font-weight: 600;
            border-color: white;

            &:first-of-type {
                margin-inline-start: 0;
            }

            &:active {
                outline: none;
                box-shadow: none;
                background-color: #5c80b9;
            }
        }
    }
}