@mixin btn ($type: regular) {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: em(14px);
    border: none;
    cursor: pointer;
}