
.app-header {
    background-color: #f5f5f5;
    padding: 1rem;
}

.app-header h1 {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.app-header .nav-links {
    display: flex;
    margin-top: 1rem;
}

.app-header .nav-links a {
    color: gray;
    text-decoration: none;
    font-size: 1rem;
    margin-inline-start: 1rem;
}

.app-header .nav-links a:first-of-type {
    margin-inline-start: 0;
}

.app-header .nav-links a:hover {
    text-decoration: underline;
}

.nav-links a.active {
    text-decoration: underline;
    font-weight: bold;
}